WEBHOOK_URL=https://webhook.site/72c01e06-bfd5-47ff-a0c1-f163ea6cb221
DB_PASSWORD=not_strong_password # required

# If Webhook auth is needed uncomment the following two lines. Both are required
# WEBHOOK_AUTH_HEADER=x-ins-auth-key
# WEBHOOK_AUTH_KEY=INS.me1x9uMcyYGlhKKQVPoc.bO3j9aZwRTOcA2Ywo

WEBHOOK_CHARACTER_LIMIT=160 # typical SMS character limit
WEBHOOK_TIMEOUT_SECONDS=20 # 20 Seconds
SEND_INTERVAL_SECONDS=120 # Send every two minutes
MESSAGE_COUNT_PER_INTERVAL=2 # Send two messages every interval
